body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1050px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:25px;
  top:120px;
  width:1000px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:101px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:25px;
  top:120px;
  width:1000px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:31px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:37px;
  top:127px;
  width:204px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:89px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:89px;
}
#u10 {
  position:absolute;
  left:2px;
  top:36px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:11px;
  top:2px;
  width:329px;
  height:66px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:66px;
}
#u12 {
  position:absolute;
  left:2px;
  top:25px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:89px;
  width:140px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:69px;
  width:1050px;
  height:20px;
}
#u15_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1056px;
  height:26px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:125px;
  top:0px;
  width:136px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:261px;
  top:0px;
  width:128px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:389px;
  top:0px;
  width:141px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:530px;
  top:0px;
  width:133px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:129px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:663px;
  top:0px;
  width:387px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:21px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:530px;
  top:20px;
  width:134px;
  height:100px;
  visibility:hidden;
}
#u29_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:140px;
  height:106px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:105px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:20px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:40px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:60px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:80px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:20px;
  width:122px;
  height:20px;
  visibility:hidden;
}
#u41_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:128px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:125px;
  top:20px;
  width:136px;
  height:100px;
  visibility:hidden;
}
#u45_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:142px;
  height:106px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:105px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:20px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:40px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:60px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:80px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:261px;
  top:20px;
  width:128px;
  height:220px;
  visibility:hidden;
}
#u57_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:226px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:225px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:20px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:40px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:60px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:80px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:100px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:120px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:140px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:180px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:200px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:389px;
  top:20px;
  width:140px;
  height:100px;
  visibility:hidden;
}
#u81_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:106px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:105px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:20px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:40px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:80px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:614px;
  width:1050px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:17px;
}
#u95 {
  position:absolute;
  left:2px;
  top:0px;
  width:1046px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:797px;
  top:17px;
  width:250px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:988px;
  top:17px;
  width:48px;
  height:16px;
  color:#009900;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:150px;
  top:96px;
  width:317px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:230px;
  top:587px;
  width:563px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:17px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:392px;
  top:587px;
  width:66px;
  height:18px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107 {
  position:absolute;
  left:496px;
  top:585px;
  width:63px;
  height:21px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u108 {
  position:absolute;
  left:576px;
  top:585px;
  width:63px;
  height:21px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u109 {
  position:absolute;
  left:692px;
  top:585px;
  width:43px;
  height:22px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u109_input:disabled {
  color:grayText;
}
#u110 {
  position:absolute;
  left:45px;
  top:232px;
  width:171px;
  height:19px;
  font-family:'新細明體 Bold', '新細明體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:25px;
  top:235px;
  width:12px;
  height:12px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:140px;
  top:174px;
  width:170px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116 {
  position:absolute;
  left:60px;
  top:178px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:780px;
  top:176px;
  width:70px;
  height:25px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:858px;
  top:176px;
  width:70px;
  height:25px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:935px;
  top:176px;
  width:70px;
  height:25px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:380px;
  top:174px;
  width:170px;
  height:25px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u126 {
  position:absolute;
  left:341px;
  top:178px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:28px;
  top:268px;
  width:997px;
  height:307px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:307px;
}
#u129 {
  position:absolute;
  left:2px;
  top:146px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:955px;
  top:232px;
  width:70px;
  height:25px;
  color:#FFFFFF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u131 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:878px;
  top:233px;
  width:70px;
  height:25px;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
