body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1041px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:69px;
  top:131px;
  width:882px;
  height:158px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:159px;
}
#u1 {
  position:absolute;
  left:2px;
  top:71px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:69px;
  top:131px;
  width:882px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:35px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:81px;
  top:138px;
  width:204px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:166px;
  top:95px;
  width:184px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:66px;
  top:313px;
  width:125px;
  height:19px;
  font-family:'新細明體 Bold', '新細明體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:202px;
  top:321px;
  width:12px;
  height:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:66px;
  top:347px;
  width:889px;
  height:277px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:277px;
}
#u14 {
  position:absolute;
  left:2px;
  top:130px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:205px;
  top:656px;
  width:563px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:367px;
  top:656px;
  width:66px;
  height:18px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:471px;
  top:654px;
  width:63px;
  height:21px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:551px;
  top:654px;
  width:63px;
  height:21px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:667px;
  top:654px;
  width:43px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:-9px;
  top:720px;
  width:1050px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:17px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:1046px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:105px;
  top:189px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:174px;
  top:187px;
  width:392px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:732px;
  top:242px;
  width:70px;
  height:25px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:810px;
  top:242px;
  width:70px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:347px;
  top:224px;
  width:51px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:398px;
  top:223px;
  width:82px;
  height:22px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34_input:disabled {
  color:grayText;
}
#u35 {
  position:absolute;
  left:490px;
  top:221px;
  width:76px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:118px;
  top:224px;
  width:51px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:118px;
  top:257px;
  width:51px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:173px;
  top:254px;
  width:160px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:363px;
  top:254px;
  width:11px;
  height:19px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:384px;
  top:254px;
  width:160px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:174px;
  top:222px;
  width:160px;
  height:22px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44_input:disabled {
  color:grayText;
}
#u45 {
  position:absolute;
  left:547px;
  top:259px;
  width:17px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:336px;
  top:259px;
  width:17px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:89px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:89px;
}
#u52 {
  position:absolute;
  left:2px;
  top:36px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:11px;
  top:2px;
  width:329px;
  height:66px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:66px;
}
#u54 {
  position:absolute;
  left:2px;
  top:25px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:10px;
  top:89px;
  width:140px;
  height:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:69px;
  width:1050px;
  height:20px;
}
#u57_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1056px;
  height:26px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:25px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:125px;
  top:0px;
  width:136px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:261px;
  top:0px;
  width:128px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:389px;
  top:0px;
  width:141px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:530px;
  top:0px;
  width:133px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:129px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:663px;
  top:0px;
  width:387px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:21px;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:530px;
  top:20px;
  width:134px;
  height:100px;
  visibility:hidden;
}
#u71_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:140px;
  height:106px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:105px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:20px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:40px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:60px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:80px;
  width:134px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:20px;
  width:122px;
  height:20px;
  visibility:hidden;
}
#u83_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:128px;
  height:26px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:125px;
  top:20px;
  width:136px;
  height:80px;
  visibility:hidden;
}
#u87_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:142px;
  height:86px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:85px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:20px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:40px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u93_img.mouseOver {
}
#u93.mouseOver {
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:60px;
  width:136px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:261px;
  top:20px;
  width:128px;
  height:200px;
  visibility:hidden;
}
#u97_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:206px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:205px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u99_img.mouseOver {
}
#u99.mouseOver {
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:20px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u101_img.mouseOver {
}
#u101.mouseOver {
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:40px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:60px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u105_img.mouseOver {
}
#u105.mouseOver {
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:80px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:100px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:120px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u111_img.mouseOver {
}
#u111.mouseOver {
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:140px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u115_img.mouseOver {
}
#u115.mouseOver {
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:180px;
  width:128px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u117_img.mouseOver {
}
#u117.mouseOver {
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:389px;
  top:20px;
  width:140px;
  height:100px;
  visibility:hidden;
}
#u119_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:106px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:105px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:20px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u123_img.mouseOver {
}
#u123.mouseOver {
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:40px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u125_img.mouseOver {
}
#u125.mouseOver {
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u127_img.mouseOver {
}
#u127.mouseOver {
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:80px;
  width:140px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u129_img.mouseOver {
}
#u129.mouseOver {
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
